body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 5em;
    color: #a39;
}
p{
    font-size: 1.6em
}
.box1{
    background-color: #e92;
    border: 1px solid transparent;
    border-radius: 45px;
}